{% extends "base.html" %}

{% block title %}Войти{% endblock %}

{% block content %}
  <h1>Вход</h1>
  <div class="module">
    {% if form.errors %}
      <p>Пароль и имя не совпадают. Попробуйте снова.</p>
    {% else %}
      <p>Заполните поля для входа:</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Войти"></p>
      </form>
    </div>
  </div>
{% endblock %}